
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

.header {
    padding: 8px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

