
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

.header {
    padding: 8px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 24px;
}

p, a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.nav {
    background-color: #1F2937;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 90px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 600px;
}
.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.nav-image {
    height: 300px;
    width: 600px;
}

.nav button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    width: 150px;
    height: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 50px 100px 50px;
}

.content-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content-images {
    display: flex;
    gap: 45px;
}

.content img {
    height: 150px;
    width: 150px;
    border-radius: 12px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p {
    width: 150px;
    color: black;
    text-align: center;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 100px 200px;
}

.quote p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 700px;
}

.quote-text span {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
    width: 660px;
}

.registration {
    display: flex;
    background-color:white;
    justify-content: center;
    padding: 100px 200px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 900px;
    padding: 30px;
    gap: 48px;
    border-radius: 12px
    
}

.banner-text {
    font-weight: bold;
}

.banner-text span {
    font-weight: 400;
    padding-top: 5px;
    display: block;
}

.sign-up {
    width: 150px;
    height: 40px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #E5E7EB; 
    color: #E5E7EB;
    border-radius: 12px;
}